body {
    background-color: white;
}
h2{
    text-align: center;
}
#title {
    text-align: center;
    font-weight: bolder;
}
div.image{
    text-align: center;
}
div.helloFunction{
    display: flex;
    justify-content: center;
}
#hello{
    text-align: center;
    width: 150px;
    color: lightyellow;
    background-color: black;
}
#footer {
    display: flex;
}
#footer > #left{
    width: 30%;
}
#footer > #center{
    width: 40%;
    text-align: center;
}
#footer > #right{
    width: 30%;
    text-align: right;
}
